body{
    background-color:rgb(44, 145, 44);
}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 70px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    color: white;
}

.card{
    height: 600px;
    width: 400px;
    background: white;
    margin:auto;
    border-radius: 15px;
    border-color: black;
    position:relative;
}

.head{
    position:absolute;
    top: -20px;
    left: 20px;
    font-size: 100px;
}

.number{
    text-align: center;
    line-height: 550px;
    font-size: 250px;
}


.foot{
    position:absolute;
    bottom: -10px;
    right: 20px;
    font-size: 100px;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);  
}

